  <header id="header" class="main-header">
   <div class="container">
    
    <div class="company-logo">
      <img src="../../../assets/img/images.png">
    </div>

    <div class="list">
      <img src="../../../assets/img/hr-high-resolution-logo-transparent.png">
    </div>

    <div class="profile">
      <div class="profile-image">
        <img src="../../../assets/img/c3f2c592f9.jpg" alt="Profile Image">
      </div>
      <div class="profile-dropdown">
        <!-- Dropdown content here -->
        <ul>
          <li><a href="/profile">Profile</a></li>
          <li><a href="/settings">Settings</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </div>
    </div>
   </div>
  </header>
